<!-- Cart Modal -->
<div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cartModalLabel">Your Cart</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Cart items go here -->

            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-12" style="text-align: left;">
                        <span>Total: </span>
                        <span id="total_price">0 ₫</span>
                    </div>
                </div>
                <button type="button" class="btn btn-outline-dark me-2" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-dark" id="btnPurchase">Purchase</button>
            </div>
        </div>
    </div>
</div>

<script>
    update_cart_count = () => {
        $.ajax({
            url: "{% url 'get_cart_size' %}",
            type: 'GET',
            success: function (response) {
                $('#cart-count').text(response);
            }
        });
    }

    function remove_cart_item(modal, item_id) {
        $.ajax({
            url: "{% url 'remove_from_cart' %}",
            type: 'POST',
            data: {
                book_id: item_id,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (response) {
                update_cart_count();
                modal.find('.modal-body').html(response);
                $('#cart-alert').html("<div class='alert alert-success alert-dismissible fade show' role='alert'>Removed from cart successfully<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button></div>");
                setTimeout(function () {
                    $('#cart-alert').html('');
                }, 3000);
            }
        });
    }

    $(document).ready(function () {
        update_cart_count();

        $('#cartModal').on('show.bs.modal', async function (event) {
            var button = $(event.relatedTarget);
            var modal = $(this);
            await $.ajax({
                url: "{% url 'view_cart' %}",
                type: 'GET',
                success: function (response) {
                    modal.find('.modal-body').html(response);
                }
            });


            $("input[type=checkbox]").change(function () {
                var total_price = 0;
                $("input[type=checkbox]:checked").each(function () {
                    var price = $(this).closest('.row').find('#book_price').text();
                    total_price += parseInt(price.replace(' ₫', '').replace('.', '') * $(this).closest('.row').find('input[type=number]').val());
                });
                var total_price_str = total_price.toLocaleString('vi-VN') + ' ₫';
                $('#total_price').text(total_price_str);
            });

            // change Quantity of book
            $('.btn-minus').click(function () {
                var $input = $(this).siblings('.quantity-input');
                var value = parseInt($input.val());
                if (value > 1) {
                    $input.val(value - 1);
                }

                if (value === 1) {
                    var $parent = $(this).closest('[data-id]');
                    var id = $parent.data('id');
                    remove_cart_item(modal, id)
                }
            });

            $('.btn-plus').click(function () {
                var $input = $(this).siblings('.quantity-input');
                var value = parseInt($input.val());
                if (value < 999) {
                    $input.val(value + 1);
                }
            });

            $("input[type=number]").change(function () {
                var total_price = 0;
                $("input[type=checkbox]:checked").each(function () {
                    var price = $(this).closest('.row').find('#book_price').text();
                    total_price += parseInt(price.replace(' ₫', '').replace('.', '') * $(this).closest('.row').find('input[type=number]').val());
                });
                var total_price_str = total_price.toLocaleString('vi-VN') + ' ₫';
                $('#total_price').text(total_price_str);

                $.ajax({
                    url: "{% url 'update_quantity' %}",
                    type: 'POST',
                    data: {
                        book_id: $(this).closest('.row').find('input[type=checkbox]').val(),
                        quantity: $(this).val(),
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (response) {
                        update_cart_count();
                    }
                });
            });

            $("#btnPurchase").click(function () {
                // create form 
                var form = $('<form></form>');
                form.attr("method", "POST");
                form.attr("action", "{% url 'prepare_order' %}");
                form.append('{% csrf_token %}');
                $("input[type=checkbox]:checked").each(function () {
                    var input = $("<input>")
                        .attr("type", "hidden")
                        .attr("name", "books[]")
                        .val($(this).val());
                    form.append(input);
                });

                $("input[type=number]").each(function () {
                    var input = $("<input>")
                        .attr("type", "hidden")
                        .attr("name", "quantities[]")
                        .val($(this).val());
                    form.append(input);
                });

                form.appendTo('body').submit();
                //

                {% comment %} $.ajax({
                    url: "{% url 'prepare_order' %}",
                    type: 'POST',
                    data: $('#cart-form').serialize() + '&csrfmiddlewaretoken={{ csrf_token }}',
                    success: function(response) {
                        $('#cart-alert').html("<div class='alert alert-success alert-dismissible fade show' role='alert'>Order prepared successfully<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button></div>");
                        setTimeout(function() {
                            $('#cart-alert').html('');
                        }, 3000);
                        $('#cartModal').modal('hide');
                    }
                }); {% endcomment %}
            });
        });
    });
</script>