{% load static %}
{% load total_cart %}
<!-- Cart Modal -->
<div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cartModalLabel">Your Cart</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% for book_ic in books_in_cart %}
                    <!-- Cart items go here -->
                    <div class="row">
                        <div class="col-2">
                            <img src="{% get_media_prefix %}{{ book_ic.book.cover }}" alt="Product 1" class="img-fluid">
                        </div>
                        <div class="col-3">{{ book_ic.book.title }}</div>
                        <div class="col-3">{{ book_ic.book.price | floatformat }} ₫</div>
                        <div class="col-2">Quantity: <input type="number" value="{{ book_ic.quantity }}" min="1"
                                                            max="10"></div>
                        <div class="col-1">
                            <button class="btn btn-outline-danger btn-sm">Remove</button>
                        </div>
                    </div>
                    {% if not forloop.last %}
                        <hr>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-6 align-content-start">Total:</div>
                    <div class="col-6">{{ books_in_cart|total_cart|floatformat }} ₫</div>
                </div>
                <button type="button" class="btn btn-outline-dark me-2" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-dark">Checkout</button>
            </div>
        </div>
    </div>
</div>