{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/authForms.css' %}"> <!-- Link to your CSS file -->
</head>
<body>
    <div class="container">
        <h2>Change password</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_old_password">Your old password</label>
                {{ form.old_password }}
            </div>
            <div class="form-group">
                <label for="id_new_password">Your new password</label>
                {{ form.new_password }}
            </div>
            <div class="form-group">
                <label for="id_confirm_new_password">Confirm your new password</label>
                {{ form.confirm_new_password }}
            </div>
            <button type="submit" class="btn">Change my password</button>
{#            <a href="{% url 'account' %}" class="btn btn-secondary">Cancel</a>#}
        </form>
    </div>
</body>
</html>
