{% extends 'layouts/base.html' %}
{% block title %}
About Us
{% endblock %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Về chúng tôi</h1>
        </div>
    </div>
</header>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row">
            <div class="col-lg-6">
            <h2 class="fw-bolder">Chúng tôi là ai?</h2>
            <p class="lead">BookWings là một hệ thống bán sách trực tuyến hàng đầu tại Việt Nam. Chúng tôi cung cấp một nền tảng mua bán sách trực tuyến, giúp người dùng dễ dàng tìm kiếm và mua sách một cách nhanh chóng và thuận tiện.</p>
            </div>
            <div class="col-lg-6">
            <h2 class="fw-bolder">Sứ mệnh của chúng tôi</h2>
            <p class="lead">Sứ mệnh của BookWings là mang đến cho người dùng trải nghiệm mua sắm sách trực tuyến tốt nhất, giúp họ dễ dàng tìm kiếm và mua sách một cách nhanh chóng và thuận tiện.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
            <h2 class="fw-bolder">Giá trị của chúng tôi</h2>
            <p class="lead">Chúng tôi cam kết cung cấp cho khách hàng những cuốn sách chất lượng cao, đa dạng về thể loại và nguồn gốc. Chúng tôi luôn đảm bảo rằng sách được bán trên nền tảng của chúng tôi đáp ứng được các tiêu chuẩn chất lượng và đáng tin cậy.</p>
            </div>
            <div class="col-lg-6">
            <h2 class="fw-bolder">Đội ngũ của chúng tôi</h2>
            <p class="lead">Chúng tôi có một đội ngũ chuyên gia đam mê sách và công nghệ, luôn sẵn sàng hỗ trợ và tư vấn cho khách hàng. Đội ngũ của chúng tôi luôn nỗ lực để mang đến cho khách hàng trải nghiệm mua sắm sách tốt nhất.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
