{% extends 'layouts/base.html' %}
{% block title %}
BookWings - Hệ thống bán sách hàng đầu Việt Nam
{% endblock %}

{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Welcome to BookWings</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Explore our vast collection of books and find your next favorite read.</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search book" aria-label="Search book" aria-describedby="search-button">
                    <button class="btn btn-outline-secondary" type="button" id="search-button">Search</button>
                </div>

                <br>
                {% include "home/book.html"%}
            </div>
        </section>
{% endblock %}