<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for shipment in shipments %}
    <h1>{{ shipment }}</h1>
    <p>Order: {{ shipment.order }}</p>
    <p>Total: {{ shipment.order.total }}</p>
    <p>To: {{ shipment.address }}</p>
    <p>Started on: {{ shipment.start_delivery_date }}</p>

    {% if shipment.status == 'DELIVERED' %}
        <p>Finished on: {{ shipment.finish_delivery_date }}</p>
        <p>Delivered by: {{ shipment.delivery_by.first_name }}</p>
    {% else %}
        <p>Taken by: {{ shipment.delivery_by.first_name }}</p>
        <form action="{% url 'return_shipment' shipment.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Return shipment">
        </form>
        <form action="{% url 'complete_shipment' shipment.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Mark as delivered">
        </form>
    {% endif %}
{% endfor %}
</body>
</html>