{% extends 'layouts/base.html' %}

{% block title %}
    {{ book.title }} | BookWings - Hệ thống bán sách hàng đầu Việt Nam
{% endblock %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">{{ book.title }}</h1>
        </div>
    </div>
</header>
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/media/{{ book.cover }}" alt="{{ book.title }}" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h1>{{ book.title }}</h1>
                <p>Author: {{ book.author }}</p>
                <p>Published: {{ book.published_date }}</p>
                <p>Price: {{ book.price }}</p>
                <p>Description: {{ book.description }}</p>
                <a class="btn btn-primary" id="btn_add_to_cart">Add to Cart</a>
                <a class="btn btn-dark" id="btnInstantPurchase">Instant Purchase</a>
                <a class="btn btn-secondary">Read a sample</a>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function() {
        $('#btn_add_to_cart').click(function() {
            $.ajax({
                url: "{% url 'add_to_cart' %}",
                type: 'POST',
                data: {
                    'book_id': {{ book.id }},
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(data) {
                    update_cart_count();
                    alert('Added to cart!');
                }
            });
        });

        $('#btnInstantPurchase').click(function() {
            // create a form and submit it
            var form = $('<form></form>');
            form.attr("method", "POST");
            form.attr("action", "{% url 'prepare_order' %}");
            form.append('{% csrf_token %}');
            var input = $("<input>")
                .attr("type", "hidden")
                .attr("name", "books[]")
                .val({{ book.id }});
            form.append(input);
            var input = $("<input>")
                .attr("type", "hidden")
                .attr("name", "quantities[]")
                .val(1);
            form.append(input);
            form.appendTo('body').submit();
        });
    });
</script>
{% endblock %}

