{% extends 'layouts/base.html' %}
{% block title %}
    BookWings - Hệ thống bán sách hàng đầu Việt Nam
{% endblock %}

{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5 rounded-2">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Welcome to BookWings</h1>
                <p class="lead fw-normal text-white-50 mb-0">Explore our vast collection of books and find your next
                    favorite read.</p>
            </div>
        </div>
    </header>
    <!-- Section-->
    <section class="py-5" style="background-color: #d7d8da">
        {#        <div class="container px-4 px-lg-5 mt-5">#}
        <br>
        <form action="{% url 'view_books' %}" method="get" class="container px-4 mt-5 mb-3">
            <div class="row g-2 align-items-lg-end">
                <div class="col">
                    <label for="search" class="sr-only mb-2">&nbsp;<i class="bi bi-input-cursor-text"></i> Search for
                        books</label>
                    {% if input_title == '' %}
                        <input type="text" id="search" name="search" class="form-control"
                               placeholder="Enter book title, author...">
                    {% else %}
                        <input type="text" id="search" name="search" class="form-control"
                               placeholder="Enter book title, author..."
                               value="{{ input_title }}">
                    {% endif %}
                </div>
                <div class="col-auto">
                    <label for="category" class="sr-only mb-2">&nbsp;<i class="bi bi-funnel"></i> Category</label>
                    <select id="category" name="category" class="form-control">
                        {% if category_id == 0 %}
                            <option value="0" selected>All Categories</option>
                        {% else %}
                            <option value="0">All Categories</option>
                        {% endif %}
                        <!-- Populate options dynamically from categories -->
                        {% for category in categories %}
                            {% if category.id == category_id %}
                                <option value="{{ category.id }}" selected>{{ category.name }}</option>
                            {% else %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
        {#        </div>#}

        <div class="container px-4 px-lg-5 mt-5 bg-white rounded-4 shadow">
            <br>

            {# check if books is null#}
            {% if books %}
                    {% include "books/book_render.html" with books=books %}
            {% else %}
                <div class="text-center">
                    <h2>No books found</h2>
                    <br><br><br><br><br><br>
                    <a href="{% url 'view_books' %}" class="btn btn-outline-dark m-lg-2">Back to all books</a>
                    <br><br><br><br><br><br>
                    <br><br><br><br><br><br>
                </div>
            {% endif %}
        </div>

        {#        <div class="row mt-4">#}
        {#            <div class="col-md-12">#}
        {#                <div class="d-flex justify-content-center align-items-center">#}
        {#                    {% if books.has_previous %}#}
        {#                        <a href="?page=1" class="btn btn-dark m-lg-2">&laquo; First</a>#}
        {#                        <a href="?page={{ books.previous_page_number }}"#}
        {#                           class="btn btn-outline-dark">Previous</a>#}
        {#                    {% endif %}#}
        {#                    <span class="text-muted mx-2">Page {{ books.number }} of {{ books.paginator.num_pages }}</span>#}
        {#                    {% if books.has_next %}#}
        {#                        <a href="?page={{ books.next_page_number }}" class="btn btn-outline-dark">Next</a>#}
        {#                        <a href="?page={{ books.paginator.num_pages }}" class="btn btn-dark m-lg-2">Last &raquo;</a>#}
        {#                    {% endif %}#}
        {#                </div>#}
        {#            </div>#}
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="d-flex justify-content-center align-items-center">
                    {% if books.has_previous %}
                        <a href="?page=1" class="btn btn-outline-dark m-lg-2">&laquo; First</a>
{#                        <a href="?page={{ books.previous_page_number }}" class="btn btn-outline-dark">Previous</a>#}
                    {% endif %}

                    {% for num in books.paginator.page_range %}
                        {% if books.number == num %}
                            <span class="btn btn-dark m-lg-2">{{ num }}</span>
                        {% elif num > books.number|add:'-3' and num < books.number|add:'3' %}
                            <a href="?page={{ num }}" class="btn btn-outline-dark m-lg-2">{{ num }}</a>
                        {% elif num == 1 %}
                            <a href="?page={{ num }}" class="btn btn-outline-dark m-lg-2">{{ num }}</a>
                            {% if books.number > 4 %}
                                <span class="mx-1">...</span>
                            {% endif %}
                        {% elif num == books.paginator.num_pages %}
                            {% if books.number < books.paginator.num_pages|add:'-3' %}
                                <span class="mx-1">...</span>
                            {% endif %}
                            <a href="?page={{ num }}" class="btn btn-outline-dark m-lg-2">{{ num }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if books.has_next %}
{#                        <a href="?page={{ books.next_page_number }}" class="btn btn-outline-dark">Next</a>#}
                        <a href="?page={{ books.paginator.num_pages }}" class="btn btn-outline-dark m-lg-2">Last &raquo;</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}