.product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}

.product-card img {
    max-width: 100%;
    text-align: center;
}

.product-card .title {
    font-weight: bold;
    margin-bottom: 10px;
}

.product-card .price {
    color: #007bff;
}

.badge {
    background: darkslateblue;
}