{% extends "layouts/base.html"%}
{% block title %} Orders {% endblock %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Orders History</h1>
        </div>
    </div>
</header>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <h3>Orders by {{ user }}</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Order Date</th>
                    <th style="text-align: right;">Order Total</th>
                    <th style="text-align: right;">Status</th>
                    <th style="text-align: center;">View</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.date_ordered | date:"H:i:s F d, Y"}}</td>
                    <td style="text-align: right;" >{{ order.total | floatformat }}₫</td>
                    <td style="text-align: right; color: {% if order.delivery_info == 'PENDING' %}orange{% elif order.delivery_info == 'DELIVERED' %}green{% else %}gray{% endif %}">{{ order.delivery_info }}</td>
                    <td style="text-align: center;"><a class="btn"><i class="bi bi-eye"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
