<!-- Cart Modal -->
<div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cartModalLabel">Your Cart</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Cart items go here -->
                <div class="row">
                    <div class="col-2">
                        <img src="/media/books/coraline.jpg" alt="Product 1" class="img-fluid">
                    </div>
                    <div class="col-3">Product 1</div>
                    <div class="col-3">40.000 VND</div>
                    <div class="col-2">Quantity: <input type="number" value="1" min="1" max="10"></div>
                    <div class="col-1">
                        <button class="btn btn-outline-danger btn-sm">Remove</button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-2">
                        <img src="/media/books/coraline.jpg" alt="Product 2" class="img-fluid">
                    </div>
                    <div class="col-3">Product 2</div>
                    <div class="col-3">40.000 VND</div>
                    <div class="col-2">Quantity: <input type="number" value="2" min="1" max="10"></div>
                    <div class="col-1">
                        <button class="btn btn-outline-danger btn-sm">Remove</button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-2">
                        <img src="/media/books/coraline.jpg" alt="Product 3" class="img-fluid">
                    </div>
                    <div class="col-3">Product 3</div>
                    <div class="col-3">40.000 VND</div>
                    <div class="col-2">Quantity: <input type="number" value="3" min="1" max="10"></div>
                    <div class="col-1">
                        <button class="btn btn-outline-danger btn-sm">Remove</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-6">Total:</div>
                    <div class="col-3">$65</div>
                </div>
                <button type="button" class="btn btn-outline-dark me-2" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-dark">Checkout</button>
            </div>
        </div>
    </div>
</div>